@model MCars.Models.IndividualButtonPartial
<a type="button" class="btn btn-sm ------CSS TYPE------"
   href="----------------Action Name--------------Parameters--------" >
    <span class="glyphicon --------Icon Type-------">

    </span>
    <span class="sr-only">---------Button Text------</span>
</a>